*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: red;
    height: 10vh;
    padding: 22px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    color: antiquewhite;
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 14px;
    margin-top: -8px;
}
nav .nav-links{
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
}
nav .nav-links .nav-link{
    text-decoration: none;
    list-style: none;
    color: antiquewhite;
}
nav  .menu-btn{
    display: none;
}

@media(max-width: 840px){
    nav .nav-links{
        display: none;
    }
    nav .active{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 999;
        top: 0;
        left: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
        
    }
    nav  .menu-btn{
        background: url("./images/2030-frysztak-town-lineal.gif");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        display: block;
    }
    nav .menu-btn.active{
        background-size: 25px;
        background-position: center;
        border-radius: 0%;
        transition: 0.3s ease;
    }
    

}


